
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LAYOUT.cshtml";
    TempData["Page"] = "Home";

}
<link href="~/Content/Homestyle.css" rel="stylesheet" />

<div class="banner">
    <div class="banner-text">
        <h1>Get the Chillest Item this Winter</h1>
        <p>@Model.StoreStock[0].Name</p>
        <p>For Only @Model.StoreStock[0].Price £</p>
    </div>
</div>
@*<div class="sexy-line"></div>*@
<div class="topline-products">
    <h2>Deliciae's Most Purchased Items</h2>
    <div class="products-container">
        @for (int i = 0; i < 4; i++)
        {
            
            <div class="topline-product">
                <a href="">
                    <img class="product-img" src="~/Content/Images/@Model.StoreStock[i].ImageLink" alt="@Model.StoreStock[i].Name" />
                </a>
                <p class="topline-name"><strong>@Model.StoreStock[i].Name</strong></p>
                <p>Price: @Model.StoreStock[i].Price £</p>
                @if(Session["UserId"] != null){
                    <a href="~/Cart/ATC?Page=@TempData["Page"]&index=@Model.StoreStock[i].id">Add To Cart</a>
                }
            </div>
        }
    </div>
</div>

@if (Session["UserId"] != null)
{
    <div class="personal-products">
        <h2>Products's Most Suited For you</h2>
        <div class="products-container">
            @for (int i = 0; i < 4; i++)
            {

            <div class="topline-product">
                <a href="">
                    <img class="product-img" src="~/Content/Images/@Model.StoreStock[i].ImageLink" alt="@Model.StoreStock[i].Name" />
                </a>
                <p class="topline-name"><strong>@Model.StoreStock[i].Name</strong></p>
                <p>Price: @Model.StoreStock[i].Price £</p>
                
                <a href="~/Cart/ATC?Page=@TempData["Page"]&index=@Model.StoreStock[i].id">Add To Cart</a>
                
            </div>
            }
        </div>
    </div>
    <div class="sexy-line"></div>
    <a class="styledLink">View The Entire Catalouge Of Products</a>
}

